{% extends '::base.html.twig' %}

{% block title %}{{ "Project list"|trans({}, 'project') }}{% endblock %}

{% block body -%}
    <h1>{{ "Project list"|trans({}, 'project') }}</h1>

    {{ form_start(find_form) }}
    <div class="row">
        <div class="large-4 columns">
            {{ form_errors(find_form.q) }}
            {{ form_widget(find_form.q) }}
        </div>
        <div class="large-4 columns">
            {{ form_row(find_form.submit, {'attr': {'class': 'tiny'}, 'label': 'Find'|trans }) }}
        </div>
        <div class="large-4 columns">
        </div>
    </div>
    {{ form_end(find_form) }}

    <table class="records_list">
        <thead>
        <tr>
            <th>{{ "Code"|trans }}</th>
            <th>{{ "Label"|trans }}</th>
            <th>{{ "Created at"|trans }}</th>
        </tr>
        </thead>
        <tbody>
        {% if entities is empty %}
            <tr>
                <td colspan="3">{{ "There is no available projects"|trans({}, 'project') }}</td>
            </tr>
        {% endif %}
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('project_show', { 'code': entity.code }) }}">{{ entity.code }}</a></td>
                <td>{{ entity.label }}</td>
                <td>{{ macro.user_date(entity.createdAt) }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% if is_granted("create_project") %}
        <a href="{{ path('project_new') }}" class="button">
            {{ "Create a new project"|trans({}, "project") }}
        </a>
    {% endif %}
{% endblock %}
