{% extends '::base.html.twig' %}

{% block title %}{{ "Project list"|trans({}, "project") }}{% endblock %}

{% block body -%}
    <div class="row">
        <div class="large-3 columns"></div>
        <div class="large-9 columns">
            <h1>{{ "Project list"|trans({}, "project") }}</h1>

            {% include "AppBundle::find.html.twig" with {find_form: find_form} %}

            <table class="records_list">
                <thead>
                <tr>
                    <th>{{ "Code"|trans }}</th>
                    <th>{{ "Label"|trans }}</th>
                    <th>{{ "Created at"|trans }}</th>
                </tr>
                </thead>
                <tbody>
                {% if entities is empty %}
                    <tr>
                        <td colspan="3">{{ "There is no available projects"|trans({}, "project") }}</td>
                    </tr>
                {% endif %}
                {% for entity in entities %}
                    <tr>
                        <td><a href="{{ path('project_show', { 'code': entity.code }) }}">{{ entity.code }}</a></td>
                        <td>{{ entity.label }}</td>
                        <td>{{ macro.user_date(entity.createdAt) }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            {% if is_granted("create_project") %}
                <a href="{{ path('project_new') }}" class="button">
                    {{ "Create a new project"|trans({}, "project") }}
                </a>
            {% endif %}
        </div>
    </div>
{% endblock %}
