{% extends '::base.html.twig' %}

{% block title %}{{ "Issue list"|trans({}, "issue") }}{% endblock %}

{% block body -%}
    <h1>{{ "Issue list"|trans({}, "issue") }}</h1>

    <table class="records_list">
        <thead>
        <tr>
            <th>{{ "Code"|trans }}</th>
            <th>{{ "Summary"|trans }}</th>
            <th>{{ "Reporter"|trans }}</th>
            <th>{{ "Assignee"|trans }}</th>
            <th>{{ "Created at"|trans }}</th>
            <th>{{ "Actions"|trans }}</th>
        </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('issue_show', { 'code': issue_code(entity) }) }}">{{ entity.code }}</a></td>
                <td>{{ entity.summary }}</td>
                <td>{{ entity.reporter }}</td>
                <td>{{ entity.assignee }}</td>
                <td>{% if entity.createdAt %}{{ entity.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                    <a href="{{ path('issue_edit', { 'code': issue_code(entity) }) }}" class="button">{{ "Edit"|trans }}</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('issue_new') }}" class="button">
        {{ "Create a new issue"|trans({}, "issue") }}
    </a>
{% endblock %}
