{% extends '::base.html.twig' %}

{% block title %}{{ "Project"|trans }}{% endblock %}

{% block body -%}
    <h3>{{ "Project"|trans }}</h3>
    <h1>{{ entity.label }}</h1>

    <table class="record_properties">
        <tbody>
        <tr>
            <th>{{ "Code"|trans }}</th>
            <td>{{ entity.code }}</td>
        </tr>
        <tr>
            <th>{{ "Summary"|trans }}</th>
            <td>{{ entity.summary }}</td>
        </tr>
        <tr>
            <th>{{ "Created at"|trans }}</th>
            <td>{{ macro.user_date(entity.createdAt) }}</td>
        </tr>
        <tr>
            <th>{{ "Users"|trans }}</th>
            <td>
                <ul>
                    {% for user in entity.users %}
                        <li>{{ macro.user(user) }}</li>
                    {% endfor %}
                </ul>
            </td>
        </tr>
        </tbody>
    </table>

    {% if is_granted("edit", entity) %}
        <a href="{{ path('project_edit', { 'code': entity.code }) }}" class="button">
            {{ "Edit"|trans }}
        </a>
    {% endif %}
{% endblock %}
