{% extends '::base.html.twig' %}

{% block title %}{{ "Issue comment edit"|trans({}, "issue_comment") }}{% endblock %}

{% block body -%}
    <div class="container">
        <h1>{{ "Issue comment edit"|trans({}, "issue_comment") }}</h1>

        {{ form_start(edit_form) }}
        {{ form_errors(edit_form) }}
        {{ form_errors(edit_form.body) }}
        {{ form_widget(edit_form.body) }}
        {{ form_end(edit_form) }}
    </div>
{% endblock %}
